@font-face {
    font-family: 'PFDinTextPro-Light';
	font-display:auto;
	src: url("../fonts/PFDinTextPro/PFDinTextPro-Light.eot");
    src: local("PF DinText Pro Light");
	src: url("../fonts/PFDinTextPro/PFDinTextPro-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PFDinTextPro/PFDinTextPro-Light.svg") format("svg"),
		url("../fonts/PFDinTextPro/PFDinTextPro-Light.ttf") format("truetype"),
		url("../fonts/PFDinTextPro/PFDinTextPro-Light.woff") format("woff"),
		url("../fonts/PFDinTextPro/PFDinTextPro-Light.woff2") format("woff2"),
		url("../fonts/PFDinTextPro/PFDinTextPro-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'PFDinTextPro-Medium';
	font-display:auto;
	src: url("../fonts/PFDinTextPro/PFDinTextPro-Medium.eot");
    src: local("PF DinText Pro Medium");
	src: url("../fonts/PFDinTextPro/PFDinTextPro-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PFDinTextPro/PFDinTextPro-Medium.svg") format("svg"),
		url("../fonts/PFDinTextPro/PFDinTextPro-Medium.ttf") format("truetype"),
		url("../fonts/PFDinTextPro/PFDinTextPro-Medium.woff") format("woff"),
		url("../fonts/PFDinTextPro/PFDinTextPro-Medium.woff2") format("woff2"),
		url("../fonts/PFDinTextPro/PFDinTextPro-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'PFDinTextPro-Regular';
	font-display:auto;
	src: url("../fonts/PFDinTextPro/PFDinTextPro-Regular.eot");
    src: local("PF DinText Pro");
	src: url("../fonts/PFDinTextPro/PFDinTextPro-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PFDinTextPro/PFDinTextPro-Regular.svg") format("svg"),
		url("../fonts/PFDinTextPro/PFDinTextPro-Regular.ttf") format("truetype"),
		url("../fonts/PFDinTextPro/PFDinTextPro-Regular.woff") format("woff"),
		url("../fonts/PFDinTextPro/PFDinTextPro-Regular.woff2") format("woff2"),
		url("../fonts/PFDinTextPro/PFDinTextPro-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal
}